{% extends 'core/basic.html' %}

{% block title %}Search{% endblock %}

{% block css %}
{% load static %}

<link rel="stylesheet" href="{% static 'core/developers.css' %}">
{% endblock %}

{% block body %}

  
<center>
    <h1 class="my-4" id="developersHead">Developers</h1>

</center> 

    <div id="developers">
        {% if length == 0%}
        <h2>No Search Found Against Your Query</h2>
        {% else %}
    {% for dev in devs %}
       <div class="developer">
            <div class="header">
                <img class="dev-photo" src="{% static 'core/developer-profile.jpg' %}" alt="">
                <div class="info">
                    <h3 class="color-blue dev-name">{{ dev.name }}</h3>
                    <div class="experience"><i class="fa-solid fa-star"></i> {{ dev.experience }} Years Experience</div>
                 </div>
            </div>

            <div class="color-blue about">
                {{ dev.about }}
            </div>
        <a class="my-2 btn btn-view" href="{% url "dev_profile" dev.id %}">View Profile</a>
       </div>
        {% endfor %}
</div>

{% endif %}

{% endblock %}


{% block js %}

{% endblock %}