
@font-face {
    font-family: AileronHeavy;
    src: url("fonts/Aileron-Heavy.otf");
}
@font-face {
    font-family: AileronLight;
    src: url("fonts/Aileron-Light.otf");
}
@font-face {
    font-family: AileronThin;
    src: url("fonts/Aileron-Thin.otf");
}
@font-face {
    font-family: AileronRegular;
    src: url("fonts/Aileron-Regular.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: AileronRegular
}

:root {
    --dark-blue: #2696FD;
    --light-blue: #C8E4FF;
    --lightest-blue: #D3EAFF;

    --dark-purple: #9542FF;
    --light-purple: #CDA6FF;
    --lightest-purple: #EDDEFF;
}

::placeholder { 
    color: var(--dark-blue) !important;
    opacity: 1;
    font-weight: bold;
}

/* 
=================
***  NAVBAR   ***
=================
*/

nav {
    width: 100%;
    height: 8vh;
    background-color: var(--dark-blue) !important;
}

.navbar {
    background-color: var(--dark-blue) !important;
    color: white !important;

}





nav ul li a {
    text-decoration: none;
    color: #EFEFEF !important;
}

#dropdown li a {
    color: black !important;
}


/* 
=================
***   HERO    ***
=================
*/

#mainHeading {
    font-family: AileronHeavy;
    font-size: 50px;
}
#mainTagLine {
    font-family: AileronThin;
    font-size: 20px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    width: 100%
}

#hero div#leftHero {
    width: 60% !important;
    margin: 0px 10px;
}
#hero div#rightHero {
    width: 40% !important;
}

.box {
    width: 90%;
    border-radius: 20px;
    padding: 20px;
    margin: 30px 0px;
}

.box h1 {
    font-size: 20px;
}

#featuresHeading {
    color: var(--light-blue);
    font-size: 150px;
}

#authBox {
    background-color: var(--light-blue);
    color: var(--dark-blue)
}

#efficientSearch {
    background-color: var(--light-purple);
    color: var(--dark-purple)
}

.heroIcons {
    font-size: 45px;
}



form input, form select {
    color: var(--dark-blue) !important;
    font-weight: bold;
}
form select option, form select {
    font-weight: bold;
}

#searchBtn {
    background-color: var(--dark-blue) !important;
    width: 90%;
    margin: 10px 0px;
    padding: 10px 0px;
}

#feature1, #feature2 {
    font-family: AileronHeavy;
}